@font-face {
  font-family: "Segoe UI";
  src: url(../../assets/font/segoe-ui-4-cufonfonts/Segoe\ UI.ttf) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../../assets/font/segoe-ui-4-cufonfonts/Segoe\ UI\ Bold.ttf) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Verdana";
  src: url(../../assets/font/Verdana-Font/verdana.ttf) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Verdana";
  src: url(../../assets/font/Verdana-Font/verdanab.ttf) format("woff");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #000;
}

html, body {
  font-size: 62.5%;
  font-family: "Verdana", "sans-serif";
}

.inner {
  width: 1425px;
  margin: auto;
}

/* header */
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 8px 16px;
  height: 54px;
  background-color: #fff;
  letter-spacing: 4px;
}
header .inner h1 a {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  width: 186px;
  height: 38px;
  font-size: 1.5rem;
}
header .inner h1 a p {
  font-weight: 500;
}
header .inner ul {
  display: flex;
}
header .inner ul li a {
  padding: 8px 16px;
  font-size: 1.5rem;
}