@font-face {
  font-family: "Segoe UI";
  src: url(../../assets/font/segoe-ui-4-cufonfonts/Segoe\ UI.ttfx) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../../assets/font/segoe-ui-4-cufonfonts/Segoe\ UI\ Bold.ttf) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Verdana";
  src: url(../../assets/font/Verdana-Font/verdana.ttf) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Verdana";
  src: url(../../assets/font/Verdana-Font/verdanab.ttf) format("woff");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #000;
}

html, body {
  font-size: 62.5%;
  font-family: "Verdana", "sans-serif";
}

.inner {
  width: 1425px;
  margin: auto;
}

/* header */
header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  padding: 8px 16px;
  height: 54px;
  background-color: #fff;
  letter-spacing: 4px;
  z-index: 9999;
}
header .inner h1 a {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  width: 186px;
  height: 38px;
  font-size: 1.5rem;
}
header .inner h1 a p {
  font-weight: 500;
}
header .inner h1 a:hover {
  background-color: #ccc;
}
header .inner ul {
  display: flex;
}
header .inner ul li a {
  padding: 8px 16px;
  font-size: 1.5rem;
}
header .inner ul li a:hover {
  background-color: #ccc;
}

/* main */
main .inner section {
  /* h2 */
  background: url(../../assets/img/architect.jpg) no-repeat top center/1425px;
  padding: 8px 16px;
  /*         project       */
  /*         about         */
  /*         contect       */
}
main .inner section h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1425px;
  height: 760px;
  padding-top: 30px;
  color: #fff;
  font-size: 3.6rem;
  font-family: "Segoe UI";
  font-weight: 500;
  letter-spacing: 4px;
  opacity: 0.8;
}
main .inner section h2 span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 92px;
  height: 56px;
  margin-right: 10px;
  padding: 8px 16px;
  color: #fff;
  font-weight: 700;
  background-color: #000;
}
main .inner section .title {
  width: 1393px;
  padding: 32px 16px;
}
main .inner section .title h3 {
  margin: 10px 0;
  padding: 16px 0;
  font-size: 2.4rem;
  font-family: "Segoe UI";
  font-weight: 500;
  border-bottom: 1px solid #f1f1f1;
}
main .inner section .projects ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0 8px;
}
main .inner section .projects ul li {
  position: relative;
  width: 328px;
  height: 218px;
  margin: 0 8px 16px;
  background: no-repeat center center/cover;
}
main .inner section .projects ul li span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 16px;
  color: #fff;
  font-size: 1.5rem;
  background-color: #000;
}
main .inner section .projects ul .item01 {
  background-image: url(../../assets/img/house5.jpg);
}
main .inner section .projects ul .item02 {
  background-image: url(../../assets/img/house2.jpg);
}
main .inner section .projects ul .item03 {
  background-image: url(../../assets/img/house3.jpg);
}
main .inner section .projects ul .item04 {
  background-image: url(../../assets/img/house4.jpg);
}
main .inner section .about .title p {
  margin: 15px 0;
  font-size: 1.5rem;
}
main .inner section .about ul {
  padding: 0 8px;
  display: flex;
}
main .inner section .about ul li {
  width: 328px;
  margin: 0 8px;
}
main .inner section .about ul li img {
  width: 328px;
  filter: grayscale(75%);
}
main .inner section .about ul li strong {
  display: block;
  margin: 10px 0;
  font-size: 24px;
  font-family: "Segoe UI";
  font-weight: 500;
}
main .inner section .about ul li p {
  margin: 15px 0;
  font-size: 1.5rem;
}
main .inner section .about ul li .gray {
  opacity: 0.6;
}
main .inner section .about ul li button {
  width: 100%;
  padding: 8px 16px;
  font-size: 1.5rem;
  background-color: #f1f1f1;
  letter-spacing: 1px;
  border: none;
}
main .inner section .about ul li button:hover {
  background-color: #ccc;
}
main .inner section .contect .title p {
  margin: 15px 0;
  font-size: 1.5rem;
}
main .inner section .contect .title form fieldset {
  border: none;
}
main .inner section .contect .title form fieldset input {
  width: 1361px;
  height: 40px;
  margin-bottom: 16px;
  padding: 8px;
  font-size: 1.5rem;
  border: 1px solid #ccc;
}
main .inner section .contect .title form fieldset button {
  height: 38px;
  margin: 16px 0;
  padding: 8px 16px;
  font-size: 1.5rem;
  color: #fff;
  background-color: #000;
  border: none;
}
main .inner section .contect .title form fieldset button:hover {
  color: #000;
  background-color: #ccc;
}
main .inner section .contect img {
  width: 1361px;
  margin-left: 16px;
}

/* footer */
footer .inner {
  width: 100%;
  height: 84px;
  padding: 16px 0;
  background-color: #000;
}
footer .inner p {
  display: flex;
  justify-content: center;
  margin: 15px 0;
  font-size: 1.5rem;
  color: #fff;
}
footer .inner p a {
  margin-left: 7px;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: underline;
}
footer .inner p a:hover {
  color: #4CAF50;
}