@font-face {
  font-family: "Segoe UI";
  src: url(../../assets/font/segoe-ui-4-cufonfonts/Segoe\ UI.ttf) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Segoe UI";
  src: url(../../assets/font/segoe-ui-4-cufonfonts/Segoe\ UI\ Bold.ttf) format("woff");
  font-weight: 700;
}
@font-face {
  font-family: "Verdana";
  src: url(../../assets/font/Verdana-Font/Verdana.ttf) format("woff");
  font-weight: 500;
}
@font-face {
  font-family: "Verdana";
  src: url(../../assets/font/Verdana-Font/Verdanab.ttf) format("woff");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  color: #000;
}

html, body {
  font-size: 62.5%;
  font-family: "Verdana", "sans-serif";
}