@font-face {
    font-family: "Segoe UI";
    src: url(../../assets/font/segoe-ui-4-cufonfonts/Segoe\ UI.ttfx) format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Segoe UI";
    src: url(../../assets/font/segoe-ui-4-cufonfonts/Segoe\ UI\ Bold.ttf) format("woff");
    font-weight: 700;
}

@font-face {
    font-family: "Verdana";
    src: url(../../assets/font/Verdana-Font/verdana.ttf) format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Verdana";
    src: url(../../assets/font/Verdana-Font/verdanab.ttf) format("woff");
    font-weight: 700;
}